@page
@model SuccesfullyAddedStockModel
@{
    ViewData["Title"] = "Succesfully added changes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>You have succesfully made the following changes:</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th>
                <b>Stock Added</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <b>@Model.AllTextDataList.Count(adat => adat == item.Id)</b>
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-area="ProductsManagement" asp-page="./EditStocks"
                           asp-route-id="@item.Id">EditStocks</a>
                        <a>|</a>
                    }
                    <a asp-area="ProductsManagement" asp-page="./Details"
                       asp-route-id="@item.Id">Details</a>
                </td>
        </tr>
            }
    </tbody>
</table>

<div>
    <a asp-area="ProductsManagement" asp-page="./Index">All Products List</a>
</div>